<div style="margin: 25px">
  <h2 class="appHead">{{title}}</h2>
  <ul class="nav">
    <li class="nav-item">
      <a id="addProject" class="nav-link" routerLink="/addProject" routerLinkActive="active" style="padding-left: 0">Add Project</a>
    </li>
    <li class="nav-item">
     <a id="addTask" class="nav-link" routerLink="/addTask" routerLinkActive="active">Add Task</a>
   </li>
   <li class="nav-item">
    <a id="addUser" class="nav-link" routerLink="/addUser" routerLinkActive="active">Add User</a>
  </li>
  <li class="nav-item">
    <a id="viewTask" class="nav-link" routerLink="/viewTask" routerLinkActive="active">View Task</a>
  </li> 
  </ul>
</div>
<router-outlet></router-outlet>